@import "tailwindcss";

@theme{ 

  --animate-color-cycle: color-cycle 10s infinite;
  --animate-slow-bounce: slow-bounce 2.5s infinite;
  
  @keyframes color-cycle {        
          0%,35% { color: #cc3333; }
          40%,50% { color: #cc3333;}
          55%,95% { color: #ffffff; }
          100% { color: #ffffff; }
        }

        @keyframes slow-bounce{
          0%, 100%{transform: translateY(0);}
          50% {transform: translateY(-10px);}
        }
      }

